body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: monospace;
  padding: 24px;
}

.title {
  font-size: 48px;
  color: #00ff7f;
}

.list-item {
  margin-bottom: 24px;
}

input {
  height: 32px;
  background-color: transparent;
  color: white;
  border-color: #00ff7f;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
}

.add-task-button {
  width: 90%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
  background: darkorange;
  transform: scale(1.2);
}
